<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="github" value="https://nuget.pkg.github.com/iayti/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="iayti" />
      <add key="ClearTextPassword" value="b976fe5dbe9cf257240ec75137bcd0e5c02979a0" />
    </github>
  </packageSourceCredentials>
</configuration>